/shared
/sql-dump-*.sql
/db-sync
/vendor
composer.lock
/wp-config.php
.DS_Store
/nbproject
/wp-config-local.php
/core
vendor
site/plugins
*.scssc
advanced-cache.php
site/cache
site/w3tc-config
site/themes
